body {
    margin: 0;
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    background-color: aliceblue;
    font-family: sans-serif;
}

.btn {
    background-image: linear-gradient(to right, #70e1f5 0%, #ffd194 51%, #70e1f5 100%);
    padding: 30px 65px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    text-decoration: none;
    color: black;
    position: relative;
    overflow: hidden;
}

.btn span {
    font-size: 30px;
    position: relative;
    z-index: 1;
}

.btn::before {
    content: "";
    position: absolute;
    background-image: linear-gradient(to right, #FEAC5E 0%, #C779D0 51%, #FEAC5E 100%);
    width: 0;
    height: 0;
    left: var(--xPos);
    top: var(--yPos);
    transform: translate(-50%, -50%);
    border-radius: 50%;
    transition: width 0.7s, height 0.7s;
}

.btn:hover::before {
    width: 450px;
    height: 450px;
}